version: "3.9"

# this is used in portainer
services:
  kouzelnici-grossmann:
    image: ghcr.io/itpsoft/discord-bots:latest
    container_name: kouzelnici-grossmann
    command:
      - python
      - -u
      - src/grossmann/main.py
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true" # white-list for watchtower update

  kouzelnici-simek:  # š is not allowed :(
    image: ghcr.io/itpsoft/discord-bots:latest
    container_name: kouzelnici-simek # š is not allowed :(
    command:
      - python
      - -u
      - src/šimek/main.py
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true" # white-list for watchtower update
#
#  krampol:
#    build: .
#    image: ghcr.io/itpsoft/discord-bots:latest
#    container_name: krampol
#    command:
#      - python -u src/krampol/main.py
#    env_file:
#      - .env
#    restart: unless-stopped
#
